@{
    ViewData["Title"] = "New";
}

<div class="text-center">
    <h1 class="display-4">New Page</h1>
    <p>The content this page will contain is TBD.</p>
    <br />
    <a asp-controller="New" asp-action="Message">Click here to submit a message.</a>
</div>