@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Community Page</h1>
    <p>This website will be a community page when it's further built out.</p>
</div>
