@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Community Page</h1>
    <p>This website will be a community page when it's further built out.</p>

    @* link to history page *@
    <a asp-controller="Home" asp-action="History">Community History</a>

    <br />

    @* link to contact page *@
    <a asp-controller="Home" asp-action="Contact">Contact</a>
</div>
